*{
  font-family: 'Playwrite GB S' , sans-serif;
  color: rgb(196, 196, 196);
}

body{
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, rgb(18, 10, 32), #000000);
  background-color: rgb(13, 11, 18);
  align-items: center;
  justify-content: center;
  display: flex;
}

.container{
  padding: 5px;
  background-color: rgb(34, 34, 34);
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgb(27, 27, 27);
  box-shadow: 0px 7px 20px rgba(98, 98, 98, 0.1);
}

.input-container{
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}


input{
  height: 45px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(34, 34, 34);
  color: rgb(196, 196, 196)
}

input:focus{
  outline: none;
  border-color: rgb(83, 83, 83);
}

button{
  font-family: sans-serif;
  height: 45px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(44, 44, 69);
  width: 45px;
  margin-left: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(50, 50, 78);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

li {
  background-color: rgb(13, 7, 24);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: rgb(50, 49, 49);
  border: none;
}

.delete-btn:hover {
  background-color: rgb(62, 62, 62);
}